.container{
    display: flex;
    background-color: bisque;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    color: #000;
    font-size: large;
}

.box{
    width: 100px;
    height: 60px;
    display: flex;
    border: 1px solid black;
    text-align: center;
    justify-content:center;
    padding-top: 40px;
}